<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning about IIFE</title>
</head>
<body>
    <h1><b>Welcome! IIFE Style</b></h1>
    <p>This is IIFE style of writing web server</p>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam iusto natus porro reprehenderit, dignissimos perferendis? Aliquid, labore ex. Molestiae sunt illum nihil maxime nulla voluptates nisi cum! Voluptate dolore itaque omnis accusantium doloribus, cumque culpa sapiente. Quae hic alias quidem amet.</p>
    </div>
</body>
</html>